body {
	background: url(../imgs/coffee.jpg) no-repeat fixed center top;
	font-size: 16px;
	background-size: 100% 100%;
}

/*登录注册选项*/
#sign-div {
	height: 30px;
	margin-right: 50px;

	/*background: rgba(0,0,0,0.3);*/
	/*border: 1px solid skyblue;*/
}

.sign {
	width: 40px;
	height: 30px;
	padding: 0px 5px;

	float: right;

	text-decoration: none;
	color: skyblue;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 30px;
	text-align: center;
	display: inline-block;

	/*border: 1px solid skyblue;*/
}

a:hover {
	background: rgba(0,0,0,0.5);
}


/*welcome欢迎语*/
h1 {
	font-size: 2.5em;
}

#welcome-div {
	/*border: 1px solid skyblue;*/

	text-align: center;
}

.welcome, .oldsay {
	/*border: 1px solid skyblue;*/
	font-family: cursive;
	color: skyblue;
	/*shadow*/
	text-shadow: -5px 5px 6px rgba(0,0,0,0.3);
}

#wce-br {
	padding: 70px,0,0,0;
}

/*oldsay*/
#oldsay-div {
	/*边框大小*/
	width: 600px;
	/*border: 2px solid black;*/

	font-family: cursive;
	color: skyblue;

	/*浮动*/
	float: left;

	/*设置字体*/
	font-size: 1.7em;
	line-height: 1.9em;
}

#oldsay {
	/*border: 1px solid red;*/
	border-collapse: collapse;
	padding-top: 30px;
	padding-left: 200px;
}

#author {
	/*border: 1px solid red;*/
	border-collapse: collapse;
	padding-right: 50px;

	text-align: right;
}

/*用户信息*/

#form-div {
	width: 350px;
	/*border-radius: 10px;*/
	/*border: 1px solid skyblue;*/
	margin: 80px 0 0 250px;
	/*浮动*/
	float: left;
}

#form-dev h3{
	text-align: center;
}

#user-form {
	/*border: 1px solid skyblue;*/
	padding: 20px 50px;
	border-radius: 10px;

	background: rgba(0,0,0,.5);
	font-weight: 600;
	color: silver;
}

.user-msg {
	width: 160px;
	height: 15px;
	line-height: 25px;
	font-size: 1.0em;
}

.user-info {
	width: 200px;
	height: 25px;
	border-radius: 3px;

	font-size: 16px;
}

#submit-button {
	width: 50px;
	height: 30px;
	margin: 20px 0;
}